---
Checks: >
    *,
    bugpron-*,
        -bugprone-easily-swappable-parameters,
    clang-diagnostic-*,
        -clang-diagnostic-unused-command-line-argument,
    clang-analyzer-*,
    readability-*,
        -readability-named-parameter,
        -readability-uppercase-literal-suffix,
        -readability-identifier-length,
    hicpp-*,
        -hicpp-signed-bitwise,
        -hicpp-named-parameter,
        -hicpp-uppercase-literal-suffix,
    cppcoreguidelines-*,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    modernize-*,
        -modernize-use-trailing-return-type,
    misc-*,
        -misc-non-private-member-variables-in-classes,
        -misc-definitions-in-headers,
        -misc-no-recursion,
        -misc-static-assert,
        -misc-unused-alias-decls,
    altera-*,
        -altera-unroll-loops,
        -altera-id-dependent-backward-branch,
        -altera-struct-pack-align,
    zircon-*,
    google-*,
        -google-readability-*,
    fuchsia-*,
        -fuchsia-default-arguments-calls,
        -fuchsia-default-arguments-declarations,
        -fuchsia-overloaded-operator,
        -fuchsia-trailing-return,
    -llvm-*,
    -llvmlibc-*
    

WarningsAsErrors: '*'
HeaderFilterRegex: 'src/wheels/'
AnalyzeTemporaryDtors: false

FormatStyle: file

...
