---
Checks: >
  *,
  bugpron-*,
    -bugprone-easily-swappable-parameters,
  clang-diagnostic-*,
    -clang-diagnostic-unused-command-line-argument,
  clang-analyzer-*,
  readability-*,
    -readability-named-parameter,
    -readability-uppercase-literal-suffix,
    -readability-identifier-length,
    -readability-redundant-access-specifiers,
  hicpp-*,
    -hicpp-signed-bitwise,
    -hicpp-named-parameter,
    -hicpp-uppercase-literal-suffix,
  cppcoreguidelines-*,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  modernize-*,
    -modernize-use-trailing-return-type,
  misc-*,
    -misc-non-private-member-variables-in-classes,
    -misc-definitions-in-headers,
    -misc-no-recursion,
    -misc-static-assert,
    -misc-unused-alias-decls,
  altera-*,
    -altera-unroll-loops,
    -altera-id-dependent-backward-branch,
    -altera-struct-pack-align,
  zircon-*,
  google-*,
    -google-readability-*,
  fuchsia-*,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -fuchsia-overloaded-operator,
    -fuchsia-trailing-return,
  -llvm-*,
  -llvmlibc-*


WarningsAsErrors: '*'
HeaderFilterRegex: 'src/wheels/'
AnalyzeTemporaryDtors: false

FormatStyle: file

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,                 value: lower_case }
  - { key: readability-identifier-naming.ClassCase,                     value: lower_case }
  - { key: readability-identifier-naming.StructCase,                    value: lower_case }
  - { key: readability-identifier-naming.EnumCase,                      value: lower_case }
  - { key: readability-identifier-naming.FunctionCase,                  value: lower_case }
  - { key: readability-identifier-naming.TypedefCase,                   value: lower_case }
  - { key: readability-identifier-naming.TypeAliasCase,                 value: lower_case }

  - { key: readability-identifier-naming.TemplateParameterCase,         value: CamelCase }
  - { key: readability-identifier-naming.ValueTemplateParameterCase,    value: CamelCase }

  - { key: readability-identifier-naming.ParameterCase,                 value: lower_case }
  - { key: readability-identifier-naming.VariableCase,                  value: lower_case }
  - { key: readability-identifier-naming.StaticVariableCase,            value: lower_case }

  - { key: readability-identifier-naming.PrivateMemberCase,             value: lower_case }
  - { key: readability-identifier-naming.PrivateMemberPrefix,           value: '_' }
  - { key: readability-identifier-naming.ProtectedMemberCase,           value: lower_case }
  - { key: readability-identifier-naming.ProtectedMemberPrefix,         value: '_' }
  - { key: readability-identifier-naming.ConstantMemberCase,            value: lower_case }
  - { key: readability-identifier-naming.ConstantMemberPrefix,          value: '_' }

  - { key: readability-identifier-naming.StaticConstantCase,            value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantCase,            value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumConstantCase,              value: lower_case }

...
