# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Build stuff
*.ilk
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDEs
/.idea**
*.cbp

# CMake
CMakeFiles
CMakeCache.txt
CMakeLists.txt.user
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Logs
*.log

# Package managers
vcpkg_installed
